{{- /* ### Extended Head File From Theme 'PAPERMOD' ### */ -}}
{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}

<!-- custom css -->

{{- $custom := (resources.Get "css/custom.css") }}
{{- $custom = (slice $custom) | resources.Concat "assets/css/custom.css" | resources.Minify }}
<link crossorigin="anonymous" href="{{ $custom.RelPermalink }}" integrity="{{ $custom.Data.Integrity }}" rel="preload stylesheet" as="style">


<script src="https://plotboilerplate.io/repo/lib/alloy_finger.js"></script> 
<script src="https://plotboilerplate.io/repo/dist/plotboilerplate.min.js"></script> 
<script src="https://plotboilerplate.io/repo/demos/02-line-point-distance/barkbeetles.js"></script> 
<script src="js/demobar.js"></script>

<script id="cookieWarn" data-lang-en="{ 'text': 'This website uses cookies.', 'more_text': 'Click here for more information', 'more_link': 'https://ec.europa.eu/info/law/law-topic/data-protection_en', 'accept_text': 'OK', 'reject_text': 'I reject', 'reject_info': 'You can disable unwanted cookies by using this program', 'reject_link': 'https://www.ghostery.com/', 'close_text': 'Close' }" data-callback="cookieWarnCallback" data-debug="false" data-expire="365" data-path="/" data-secure="false" data-delay="750" data-class="customCookieWarningClass" data-style="#cookieWarnBox { font-family: unset; } #cookieWarnBox a { color: #00a808; } #cookieWarnBox .btn { text-transform: none; } #cookieWarnBox .btn-warning { display: none; }" type="text/javascript" src="../js/cookie-warn.min.js"> </script> 
<script> var cookieWarnCallback = function(accepted) { if (accepted) { /* do something... */ } else { /* do nothing... */ } }; </script>