/* SASS SOURCE */
/* This will be compiled into ./assets/css/custom.css */

$primary_color : #00ba73;
$background_dark : rgb(29, 30, 32);
$background_light: rgb(245, 245, 245);

/* Set proper icon size in the main nav */
#menu li a span span img,
#menu li a span span svg {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 6px;
}


/* Fixed position for main nav */
header.header {
    position: fixed;
    border-bottom: 6px solid $primary_color;
    width: 100%;
    top: 0;  
    z-index: 9999;
    /* background: var(--theme); */
    backdrop-filter: blur(10px);
}

/* Give main content more padding for fixed header */
main.main {
    padding-top: 120px;
}

/* This is more or less the break point where the header breaks into two lines */
/* @media screen and (max-width: 1024px) {
    main.main {
        padding-top: 120px;
    }
} */

/* Make header background opaque according to dark/light mode */
/*
body:not(.dark) header.header {
    background: $background_light;
}

body.dark header.header {
    background: $background_dark;
}
*/

